<%= render "home/header" %>
<%= render "outfits/search_form" %>

<% 4.times do |i| %>
<article class="content grey battle">
  <div class="col col3 data">
    <div class="first section">
      <h2>Casual night out</h2>
    </div>
    <div class="section">
      <p class="author">Shot by Melanie</p>
      <p class="meta">New York &mdash; Sat, Oct 20</p>
    </div>
    <div class="section">
      <p><strong>Description</strong></p>
      <p class="meta">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="col col6 relative last">
      <div class="col col3">

        <%= render "outfits/image", outfit: nil %>

        <div class="items row">
          <%= link_to "akaka", "", class: "button inset pants" %>
          <%= link_to "akaka", "", class: "button inset sweat" %>
          <%= link_to "akaka", "", class: "button inset dress" %>
        </div>
      </div>
      <div class="col col3 last">
        <div class="pic-wrapper">
          <%= image_tag "outfit#{i + 2}.png" %>
          <div class="controls-wrapper">
            <div class="controls">
              <div class="s-box">
                <h3>Red and grey outfit</h3>
                <%= link_to "Love it!" %>
              </div>
            </div>
          </div>
        </div>
        <div class="items row">
          <%= link_to "akaka", "", class: "button inset pants" %>
          <%= link_to "akaka", "", class: "button inset dress" %>
        </div>
      </div>
    </div>



  </article>

  <% end %>

