<!DOCTYPE html>
<html>
<head>
  <title>Gooutfit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content-wrapper">
    <nav id="main-nav" class="fixed">
      <div class="content">
        <ul class="left" id="main-menu">
          <li class="logo"><%= link_to "GoOutfit", root_url %></li>
          <li class="current"><%= link_to "Outfits", root_url %></li>
          <li><%= link_to "Community", root_url %></li>
          <li><%= link_to "Shop", root_url %></li>
        </ul>
        <ul class="right" id="user-menu">
          <li><%= link_to "Melanie", root_url %></li>
        </ul>
      </div>
    </nav>

    <header id="header" class="content dark">

      <div id="intro">
        <h1>GoOutfit</h1>
        <h2>
          <%= link_to "", class: "snap-ico with-ico" do %>
            <span class='ico'></span>Snap
          <% end %>
          <%= link_to "", class: "share-ico with-ico" do %>
            <span class='ico'></span>Share
          <% end %>
          <%= link_to "", class: "decide-ico with-ico" do %>
            <span class='ico'></span>Decide
          <% end %>
        </h2>
      </div>

    </header>

    <div class="content">
      <%= yield %>
    </div>

  </div>

</body>
</html>
