<!DOCTYPE html>
<html>
<head>
  <title>Gooutfit</title>
  <%= render "layouts/stylesheets" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content-wrapper">
    <nav id="main-nav" class="fixed">
      <div class="content">
        <ul class="left" id="main-menu">
          <li class="logo"><%= link_to "GoOutfit", root_url %></li>
          <li class="current"><%= link_to "Outfits", outfits_path %></li>
          <li><%= link_to "Community", root_url %></li>
          <li><%= link_to "Shop", root_url %></li>
        </ul>
        <ul class="right" id="user-menu">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user), class: "me" do %>
                <%= image_tag current_user.avatar.miniature.url %>
                <span><%= current_user.login %></span>
              <% end %>
            </li>
          <% else %>
            <li><%= link_to "Log in with Facebook", "/auth/facebook", class: "button" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <footer id="footer" class="content dark">
      <h1>/</h1>
    </footer>

  </div>
  <%= render "layouts/javascripts" %>
</body>
</html>
